<a href="https://colab.research.google.com/github/Afarrow77/TEST/blob/master/PruebaS5.PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Variable
# Crear variable 
#nobre_variable = valor
numero = 2
decimal = 2.4
texto = "Hola"
verdadero = True
falso = False
#Usar varibles
print(numero)
texto

2

'Hola'

In [ ]:
#Estructuras de datos
#Listas
lista = ["Hola","soy","Luis"] #Crear una variable o valor 
lista.append(2)
lista.append(3)
lista.insert(0,True)
lista
#tuplas
tupla = ("Hola", "soy", "Luis") 

#Conjuntos-SET
conjunto = {1,2,3,4,5}
conjunto

#Diccionario

{1, 2, 3, 4, 5}

In [ ]:
lista = [1,2,3,4,5,6,6,6,6,6]
list(set(lista))

[1, 2, 3, 4, 5, 6]

In [ ]:
#Operadores
#Operadores aritmeticcos
# "Hola" + 5
9 - 5 
6 * 2 
10 / 4 
10 // 4 #trunca la parte decimal

#operadores de comparación
#<,>,>=,<=,==,!=(not equal),IN
6>5
num1 = 6 
num2 = 5
num1 > num2
num1 < num2
num1 >= num2
num1 <= num2
2 == "2"
2 != "2"
#Lista con in
num1 = 6 
lista = [5,6,7]
num2 = 5
num1 in lista

#operadores lógicos
#and,or,not

True

In [ ]:
#Condiciones 
maxima_velocidad = 120
nuestra_velocidad = 110

if nuestra_velocidad < maxima_velocidad:  #linea que contenga una palabra en rosa :
  print("Todo ok")
elif nuestra_velocidad == maxima_velocidad: #para dos o más condicionales se usa el elif
  print("Deja de acelerar")
else:  #linea que contenga una palabra en rosa :
  print("Multita")

Deja de acelerar

In [ ]:
#concatenar ( +=)
hello = "Hola"
world = "mundo"
print(hello, world)

Hola mundo

In [ ]:
#Instanciar por valor
print("Hola")

#instanciar por referencia
texto = "Hola"
print(texto)

Hola
Hola

In [ ]:
#undefined = variable que no existe 
#None = existe pero no tiene valor ni tipo

In [ ]:
if can_fly == True:
  if is_human == true:
    if has_mask == True:
      print("Iron man")
      if has_mask ==

In [3]:
lista = [1,2,3,4]

diccionario = {0:1,1:2,2:3,3:4, "Hola":5} #tienes dos valores, a la izquierda la clave, a la derecha valor; valores indexados

diccionario["Hola"] = 6
diccionario
len(diccionario)

{0: 1, 1: 2, 2: 3, 3: 4, 'Hola': 6}